{% extends 'base.html' %}
{% load static %}


{%block content%}

<section>
  <nav>
    <ul>
       <li><a href="{% url 'devices' %}">Device List</a></li>
      <li><a href="{% url 'cpu' %}">CPU</a></li>
      <li><a href="{% url 'memory' %}">Memory</a></li>
     <!--  <li><a href="#">Tokyo</a></li> -->
    </ul>
  </nav>
  
  <article>
    <h1>Network Devices</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Host Name</th>
      <th scope="col">Mac Address</th>
      <th scope="col">Management IP Adderess</th>
    <th scope="col">Reachablity</th>
    </tr>
  </thead>
  <tbody>

    {%for device in device_list%}

    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{device.hostname}}</td>
      <td>{{device.macAddress}}</td>
      <td>{{device.managementIpAddress}}</td>
    <td>{{device.reachabilityStatus}}</td>
    </tr>
     {%endfor%}
  </tbody>
</table>
   
   
  </article>
</section>
{%endblock%}

{%block pagestyle%}
<link rel="stylesheet" href="{% static 'css/device_list.css' %}">
{%endblock%}